<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="">{% csrf_token %}
        {{ el_contacto.as_p }}
        <input type="submit" value="Enviar">
    </form>
</body>
</html>