<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ el_titulo }} <br>

</body>
{% if el_formulario %}
    <form method="POST" action="">{% csrf_token %}
        {{ el_formulario.as_p }}
    <input type="submit" value="Guardar">
    </form>
{% endif %}
{{mensaje}}
</html>